body {
    font-family: Arial, sans-serif;
}

#chat-form {
    margin-bottom: 10px;
}

#chatbox p {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}